<section id="about">
  <div class="about">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-7">
          <div class="block">

            <div class="section-title">
              <h2>O kapele</h2>
              <i>Leckoho by zajímalo, co "Rí Ra" vlastně znamená. Vězte však, že význam tohoto výrazu musí z etických důvodů zůstat pod rouškou tajemství...</i>
            </div>

            <p>V produkci skupiny Rí Ra se snoubí irské tradicionály a instrumentální skladby, lehce okořeněné funky přiznávkami a jazzovými vyhrávkami. Kapela se nedrží striktně harmonie a standardních postupů irské tradiční hudby, a i díky tomu je její hudba otevřena širokému obecenstvu.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="block">
            <img src="{{ site.baseurl }}{{ site.data.path.images.common }}about.jpg" alt="The band">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
