<!--  -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>O kapele</h2>
            <p>Leckoho by zajímalo, co "Rí Ra" vlastně znamená. Vězte však, že význam tohoto výrazu musí z etických důvodů zůstat pod rouškou tajemství...</p>
          </div>
          <p>V produkci skupiny Rí Ra se snoubí irské tradicionály a instrumentální skladby, lehce okořeněné funky přiznávkami a jazzovými vyhrávkami. Kapela se nedrží striktně harmonie a standardních postupů irské tradiční hudby, a i díky tomu je její hudba otevřena širokému obecenstvu.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/about.jpg" alt="The band">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>