<section id="about">
  <div class="about">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-7">
          <div class="block">

            <div class="section-title">
              <h2>O kapele</h2>
            </div>

            <p>Pražská skupina <i>Rí Ra</i> hrající keltskou folkovou hudbu se na české hudební scéně pohybuje
              už přes deset let. Její název je odvozen z volného překladu irského <i>"rírá"</i>, tedy dobrá zábava.
              Kapela má ve svém
              repertoáru písně a balady v angličtině, bretonštině, irské a skotské gaelštině, a
              instrumentální skladby - jigy a reely. Hudebníci vytvářejí zajímavé harmonie a inspirují se
              melodiemi ostrovní hudby, přičemž svůj zvuk obohacují o slapping baskytary a jazzová
              kytarová sóla.</p>
          </div>
          <iframe scrolling="no" style="border: 0;width: 100%;height: 50px;"
            src="https://bandcamp.com/band_follow_button_deluxe/1722836946"></iframe>
          <iframe style="border: 0; width: 100%; height: 120px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=3641400441/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
            seamless><a href="https://riramusic.bandcamp.com/album/two-sisters">Two Sisters by Rí Ra</a></iframe>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="block">
            <!-- <img src="{{ site.baseurl }}{{ site.data.path.images.common }}about.jpg" alt="The band"> -->

            <a href="https://riramusic.bandcamp.com/releases">
              <img src="{{ site.baseurl }}{{ site.data.path.images.news }}cd-two-sisters-front.jpg" alt="The band">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>