<!--  -->
<section id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">

          <div class="section-title">
            {% if include.all_events %}
              <h2>Historie koncertů</h2>
            {% else %}
              <h2>Koncerty</h2>
            {% endif %}
            <p></p>
          </div>

          <!-- Table style -->
          <style>
          table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
          }

          td, th {
              border: 0px solid #dddddd;
              text-align: left;
              padding: 8px;
          }

          tr:nth-child(odd) {
              background-color: #eeeeee;
          }
          </style>

          <table>
            <tr>
              <th>Kdy</th>
              <th></th>
              <th>Kde</th>
              <th>Co</th>
              <th>Odkaz</th>
            </tr>

            <!-- Sort events -->
            {% if include.all_events %}
              <!-- Sort events by date: descending (newest first) -->
              {% assign events = (site.data.events | sort: 'date') | reverse %}
            {% else %}
              <!-- Sort events by date: ascending (oldest first) -->
              {% assign events = (site.data.events | sort: 'date') %}
            {% endif %}

            <!-- For each event... -->
            {% for event in events %}
                
              {% assign event_year = event.date | date: "%Y" %}
              {% assign current_year = site.time | date: "%Y" %}
              
              {% if include.all_events or event_year >= current_year %}
                <tr>
                  <td>{{ event.date | date: "%d.%m.%Y" }}</td>
                  <td>{{ event.time }}</td>
                  <td>{{ event.place }}</td>
                  <td>{{ event.name }}</td>
                  <td><a href="{{ event.url }}">{{ event.url_name }}</a></td>
                </tr>
              {% endif %}

            {% endfor %}

          </table>

          </br>
          {% unless include.all_events %}
            <a href="{{ site.baseurl }}{% link pages/all_events.html %}">Historie koncertů</a>
          {% endunless %}

        </div> <!-- block -->
      </div> <!-- .col-md-7 -->

    </div>
  </div>
</section>
