<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="footer-menu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Domů</a></li>
            <li><a href="#events">Koncerty</a></li>
            <li><a href="{{ site.baseurl }}/gallery/">Galerie</a></li>
            <li><a href="https://www.youtube.com/user/RiRaCZ">YouTube</a></li>
            <li><a href="https://www.facebook.com/riraband/">Facebook</a></li>
          </ul>
        </div>

        <p>Kontakt </br> Daniela Vránová </br> +420 604 750 796 </br> daniela.vranova (zavináč) seznam.cz</p>
        <a href="{{ site.baseurl }}/downloads/rira_stage_plan_cz.pdf">Stage plan</a></li>
      </div>
    </div>
  </div>
</footer>
