<footer>
  <section id="footer">
    <div class="container">
      <div class="row">
        <p>Kontakt </br> Daniela Vránová </br> +420 604 750 796 </br> daniela.vranova (zavináč) seznam.cz</p>

        <p><a href="https://drive.google.com/drive/folders/1W4hTsLUWdw9u-JtsP8_SSj2cFVaJvvdM" target="_blank">Press Kit</a></p>

        <p><a href="https://drive.google.com/drive/folders/1XK9yTYNj-hjdfS-L4c2_Io2U492-E-Ad" target="_blank">Rider</a></p>

        <p>Foto: Jaromír Zajda Zajíček - <a href="http://www.fotozajda.cz/" target="_blank">www.FotoZajda.cz</a></p>

        <p>Copyright &copy; <a href="https://rira.cz">Rí Ra</a>. All rights reserved.</p>
      </div>
    </div>
  </section>
</footer>