<footer>
  <section id="footer">
    <div class="container">
      <div class="row">
        <p>Kontakt </br> Daniela Vránová </br> +420 604 750 796 </br> daniela.vranova (zavináč) seznam.cz</p>
        <a href="{{ site.baseurl }}/downloads/RiRa_Promo.pdf">Promo texty</a>
        </br></br>
        <!-- <a href="{{ site.baseurl }}/downloads/RiRa_StagePlan.pdf">Stage plan (percussion)</a> -->
        <!-- </br> -->
        <a href="{{ site.baseurl }}/downloads/RiRa_StagePlan.pdf">Stage plan</a>

        </br></br>

        <p>Copyright &copy; <a href="http://rira.cz">Rí Ra</a>. Všechna práva vyhrazena.</p>
      </div>
    </div>
  </section>
</footer>