<section id="members">
  <div class="container">

    <div class="row">
      <div class="members">
        <div class="section-title">
          <h2>Členové kapely</h2>
        </div>
      </div>
    </div>

    <div class="row equal-height">
      {% for member in site.data.members %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="member">
            <img src="{{ site.baseurl }}{{site.data.path.images.members}}{{ member.image }}" alt="{{ member.name }}">
            <h4>{{ member.name }}</h4>
            <i>{{ member.role }}</i>
            <p>{{ member.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
