<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>V číslech</h2>
        <p>Nevedeme si statistiky, nicméně inženýrský odhad bývá dostatečně přesný :)</p>
      </div>
    </div>

    <!-- http://ionicons.com/ -->
    <div class="row">
      <div class="col-xs-12">
        <div class="block">
          <ul class="counter-box clearfix">
            
            <li>
              <div class="block">
                <i class="ion-clock"></i>
                <h4 class="counter">721</h4>
                <span>Hodin na zkouškách</span>
              </div>
            </li>

            <li>
              <div class="block">
                <i class="ion-music-note"></i>
                <h4 class="counter">64</h4>
                <span>Písní a skladeb</span>
              </div>
            </li>

            <li>
              <div class="block">
                <i class="ion-mic-b"></i>
                <h4 class="counter">107</h4>
                <span>Koncertů</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
      
    </div>
  </div>
</section>
