<section>
  <div class="container">
    <div class="row">
        <div style="position:relative;height:0;padding-bottom:56.25%">

          <!-- Set default video start time to the the beginning-->
          {% assign video_time = 0 %}
          <!-- If video_time parameter is not empty, assign its' value to the local variable video_time -->
          {% if include.video_time %}
            {% assign video_time = include.video_time %}
          {% endif %}

          <iframe src="{{ site.data.video.youtube.url }}{{ include.video_id }}?start={{ video_time }}"
                  frameborder="0"
                  style="position:absolute;width:100%;height:100%;left:0"
                  allowfullscreen>
          </iframe>
        </div>
    </div>
  </div>
</section>
