<!DOCTYPE html>
<html class="no-js">
  
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navigation.html %}
    {% include slider.html %}
    
    {% include about.html %}
    {% include video-parting-glass.html %}
    {% include parallax01.html %}

    {% include team.html %}
    {% include parallax02.html %}

    {% include events.html show_all_events="false" %}
    {% include parallax03.html %}
    {% include numbers.html %}    

    {% include footer.html %}
    </body>

</html>
